html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

.search {
  max-width: 400px;
  margin: 50px auto;
}
.Input {
  border-radius: 5px;
  cursor: text;
  outline: none;
  width: 105%;
  left: -10%;
  z-index: 2;
  top: 10px;
  text-align: center;
  border: 10px solid #f7f7f7;
  font-size: 40px;
  padding: 20px;
  position: relative;
}
.suggestions {
  margin: 0;
  padding: 0;
}
.suggestions li {
  background: white;
  list-style: none;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}
.hl {
  background: #ffc600;
}
